body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgrey;
}


.board {
    display:grid;
    grid-template-columns: 100px 100px 100px;
    gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;
}  

#gameStatus {
    margin-bottom: 20px;
    font-size: 24px;  
    font-weight: bold;  
    color: darkblue;  
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
